{% extends 'Base.html' %}
<!--  -->
{% block title %}Password Reset{% endblock %}
<!--  -->
{% block content %}
<div class="col-md-6 offset-md-3 text-light">
  <h1 class="mb-3">Enter new Password</h1>
  <form method="POST">
    {% csrf_token %}
    <!--  -->
    <label for="id_new_password1" class="form-label">New Password:</label>
    <input
      type="password"
      name="new_password1"
      autocomplete="new-password"
      required
      id="id_new_password1"
      class="form-control bg-dark text-light mb-3"
    />
    <label for="id_new_password1" class="form-label">Confirm Password:</label>
    <input
      type="password"
      name="new_password2"
      autocomplete="new-password"
      required
      id="id_new_password2"
      class="form-control bg-dark text-light mb-3"
    />
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
