{% extends 'Base.html' %}
<!--  -->
{% block title %}Reset Password{% endblock %}
<!--  -->
{% block content %}
<div class="text-light">
  <h1 class="mb-3">Forgot Password</h1>
  <p>
    Enter you Email Address below, and We will mail you instructions for setting
    up a new Password.
  </p>
  <form method="POST">
    {% csrf_token %}
    <!--  -->
    <label for="id_email" class="form-label">Email:</label>
    <input
      type="email"
      name="email"
      autocomplete="email"
      required
      id="id_email"
      class="form-control bg-dark text-light mb-3"
    />
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
