{% extends 'Base.html' %}
<!--  -->
{% block title %}Password Reset Sent{% endblock %}
<!--  -->
{% block content %}
<div class="col-md-6 offset-md-3 text-light">
  <h1 class="mb-5">Password Reset Sent</h1>
  <p>
    We sent instructions for setting up your password, if an Account exists with
    the email you entered. You should receive them shortly.
  </p>
  <p>
    if you don't receive an email Please make sure you entered the Address you
    registered with, and check your spam folder.
  </p>
</div>
{% endblock %}
